#shuttleBackground {
    background-color: green;
    display: inline-block;
    height: 80%;
    width: 40%;
}

.relative-left {
    position: absolute;
    bottom:0px;
    left:10px;
  }
.relative-right {
    position: absolute;
    bottom:0px;
    right: 10px;
  }

  